body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(OIP.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    color: black;
    font-size: 3rem;
    text-shadow: 5px 5px 8px green;
    animation: fadeIn 2s ease-out, swing 2s ease-in-out infinite;
    z-index: 2;
}

p{
    display: flex;
    justify-content: center;
}

p:last-child{
    font-weight: bold;
    font-size: large;
    color: #ea6506;
}

@keyframes fadeIn { /*aparición al cargar la página*/
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes swing { /*balanceo del título*/
    0% { transform: rotate(-5deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0); }
}

/*CONFIGURACIÓN DEL BORDE ROTATORIO*/
#pantalla-inicial{ /*un primer div grande*/
    height: 350px;
    width: 600px;
    background-color: rgb(48, 194, 99);
    border-radius: 10%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#pantalla-inicial::before{ /*parte rotatorio*/
    content: "";
    position: absolute;
    height: 680px;
    width: 700px;
    background-image: conic-gradient(rgb(6, 6, 6) 20deg, transparent 120deg);
    animation: rotar 4s linear infinite;
}

@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

#pantalla-inicial::after{ /*un segundo div más pequeño que está por encima del div grande y la parte móvil*/
    content: "";
    position: absolute;
    height: 330px;
    width: 580px;
    background-color: rgb(48, 194, 99);
    border-radius: 10%;

}

.menu{
    z-index: 2; /*para que se visualice por encima del resto de elementos*/
}

button{
    background-color: #57d6a3;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    animation: slideUp 1s ease-out;
}

button:hover{ /*al pasar por encima del botón, aunmente de tamaño*/
    transform: scale(1.1);
}

@keyframes slideUp { /*animación de abajo a arriba al carga la página*/
    0% { transform: translateY(30px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

button:active { /*al hacer click se expande*/
    transform: scale(1.5);
}

.hidden{
    display: none;
}

/*JUEGO*/
.game{
    width: 500px;
    height: 200px;
    background-color: rgb(205, 237, 156);
    border: 5px solid #ea6506;
    overflow: hidden;
}

#dino{
    width: 40px;
    height: 50px;
    background-image: url(char.png);
    background-size: 40px 50px;
    position: relative;
    top:150px;
}

.jump{
    animation: jump 500ms linear; /*llamada con js*/
}

@keyframes jump{
    0%{top:150px;}
    30%{top:100px;}
    70%{top: 100px;}
    100%{top:150px;}
}

#cactus{
    width: 20px;
    height: 20px;
    background-image: url(pokeball.png);
    background-size: 20px 20px;
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 1s infinite linear;
}

@keyframes block {
    0%{left:480px;}
    100%{left: -30px;} /*para que se salga de la div*/
}


/* Estilos para el WEB COMPONENT */

salta-titulo {
    font-size: 1em;
    color: #ea6506;
    font-weight: bold;
}

.web{
    background-color: rgb(205, 237, 156);
    text-align: center;
}
